bin/Debug/net5.0/reunrar
bin/Debug/net5.0/reunrar.deps.json
bin/Debug/net5.0/reunrar.dll
bin/Debug/net5.0/reunrar.pdb
bin/Debug/net5.0/reunrar.runtimeconfig.dev.json
bin/Debug/net5.0/reunrar.runtimeconfig.json
bin/Debug/net5.0/SharpCompress.dll
bin/Debug/net5.0/ref/reunrar.dll
obj/project.assets.json
obj/project.nuget.cache
obj/reunrar.csproj.nuget.dgspec.json
obj/reunrar.csproj.nuget.g.props
obj/reunrar.csproj.nuget.g.targets
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/apphost
obj/Debug/net5.0/reunrar.AssemblyInfo.cs
obj/Debug/net5.0/reunrar.AssemblyInfoInputs.cache
obj/Debug/net5.0/reunrar.assets.cache
obj/Debug/net5.0/reunrar.csproj.CopyComplete
obj/Debug/net5.0/reunrar.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/reunrar.csproj.FileListAbsolute.txt
obj/Debug/net5.0/reunrar.csprojAssemblyReference.cache
obj/Debug/net5.0/reunrar.dll
obj/Debug/net5.0/reunrar.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/reunrar.genruntimeconfig.cache
obj/Debug/net5.0/reunrar.pdb
obj/Debug/net5.0/ref/reunrar.dll
.vscode/launch.json
.vscode/tasks.json
/bin/Release/net5.0
/obj
/.vs
